@import 'base-vars';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.page-section {
  padding: 0 var(--spacing-standard-horizontal-padding);

  h2 {
    color: var(--color-blue-1);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image: var(--gradient-gray) 1;

    &.no-line {
      border: none;
    }
  }
  // Just for debugging 
  //border: red 1px solid;
  //margin-top: 1em;
}